[color]
  ui = true

[color "branch"]
  current = green
  remote = yellow
  local = white

[push]
	# Avoid to set upstream branch 
	default = current

[alias]
  # Repo operations
  commit = commit -S
  co = checkout
  ci = commit
  amend = commit --amend
  unstage = reset HEAD --
  m = checkout master
  fo = fetch origin
  up = !git fo && git pull
  update = up
  mom = merge origin master
  sweep = !git remote prune origin && git branch --merged | grep -v '*' | grep -v master | xargs -n 1 git branch -D
  oops = reset --soft HEAD~1
  ready = !git up && git sweep

  # Repo status
  st = status
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  out = !git fetch && git log --pretty=oneline --abbrev-commit --graph @{u}..
  in = !git fetch && git log --pretty=oneline --abbrev-commit --graph ..@{u}
  cached = diff --cached

  # Show aliases
  aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'

  # Github specifics
  fetch-pr = "!f() { git fetch $1 refs/pull/$2/head:refs/remotes/pr/$2; }; f"

  # Serve local repo. http://coderwall.com/p/eybtga
  # Then other can access via `git clone git://#{YOUR_IP_ADDRESS}/
  serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
